@import './variables.css';
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.5;

  background: var(--color-bg);
  color: var(--color-ink);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}